html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  font-family: 'Cinzel', serif;
}

body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-top: 25px;
  @media screen and (min-width: 500px) { 
    padding-top: 53px;
  }
}

.maintext { 
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0;
  // font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
  @media screen and (min-width: 760px) { 
    padding: 2rem; 
    margin: 2rem; 
    float: right; 
    width:calc(70% - 8rem);
  }
  @media screen and (min-width: 1100px) { 
    width:33%;
  }
}

h1 { 
  font-size: 3rem; 
  text-transform: uppercase; 
  margin-top: 0; 
  letter-spacing: .3rem; 
  font-weight: 400;
}

a { 
  display: inline-block; 
  color: #fff; 
  text-decoration: none; 
  background: rgba(0,0,0,0.5); 
  padding: .5rem; 
  transition: .6s background;
  &:hover {
    background: rgba(0,0,0,0.9);
  }
}